@model Sis.Web.Data.Entities.Order

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles de la orden</h2>

@*<div>
    <h4>Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>
    </dl>
</div>*@


<h4>Productos</h4>
@if (Model.Id==0)
{
    <h5>No cities added yet</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Product.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Value)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

            </tr>
            }
        </tbody>
    </table>
}
